<div class="center hero-unit">
  <h1>Welcome to Paisa Finder!</h1>
  <% @users.each do |user| %>
    <p>User: <%= user.name %></p>
  <% end %>    

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>